@font-face{
    font-family:"roboto";
    font-weight: 200;
    src: url("./fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

body, html
{
	background-color: transparent;
	height: 100%;
	overflow: hidden;
}

button{
	background-color: white;
	border: none;
	border-radius: 8px;
}

.Button 
{
	background-color: lightgray;
	font-size: 4rem;
}

.Label
{
	font-size: 4rem;
}
.Button:hover
{
	background-color: gray;
}

.FullPage
{
	width: 100%;
	height: 100%;
}

.NoGrabHighlight
{
	background-color: white;
}

.InRangeHighlight
{
	background-color: lightblue;
}

.GrabbedHighlight
{
	background-color: blue;
}

.imageMenuButton{
	height: 100%;
	width: 100%;
	box-sizing:border-box;
	border-radius: 2px;

}

.imageMenuButtonContainer{
	width : 100%;
	height: 100%;
}

.imageMenuDeleteButton{
	font-size: 2rem;
	border-radius: 3px;
	background-color: white;
}

.imageMenuImage{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.imageMenuContainer{
	display: grid;
	grid-template-columns: 20vw 20vw 20vw 20vw;
	gap: 4vw;
	margin-left: 4vw;
}

.imageDisplayBackButton{
	font-size: 3rem;
}

.imageDisplayBackButton:hover{
	background-color: rgb(128, 128, 128);
}

.imageMenuDeleteButton:hover{
	background-color: rgb(128, 128, 128);
}

.displayedImageContainer{
	object-fit: contain;
	width: 95vw;
	height: 100vh;
}

.displayedImage{
	text-align: center;
	object-fit: contain;
	width: 100%;
	height: 100%
}

#noImageText{
	font-size: 3rem;
	background-color: white;
	border-radius: 8px;
	margin: 0 auto;
	font-family: "roboto"; /*setting text here as its the only place we use it other than the pop-up and it looks bad in the popup*/
	letter-spacing: -4 px;
}

#uploadButton{
	font-size: 3rem;
	margin-top: 5vh;
}

#uploadButton:hover{
	background-color: rgb(128, 128, 128);
}
