body, html
{
	background-color: transparent;
	height: 100%;
	overflow: hidden;
}

button{
	background-color: transparent;
	border: border: 1px solid black;
}

.Button 
{
	background-color: lightgray;
	font-size: 4rem;
}

.Label
{
	font-size: 4rem;
}
.Button:hover
{
	background-color: gray;
}

.FullPage
{
	width: 100%;
	height: 100%;
}

.NoGrabHighlight
{
	background-color: white;
}

.InRangeHighlight
{
	background-color: lightblue;
}

.GrabbedHighlight
{
	background-color: blue;
}

.imageMenuButton{
	height: 100%;
	width: 100%; /*things to try: max width?*/
	box-sizing:border-box;

}

.imageMenuButtonContainer{
	width : 100%;
	height: 100%;
}

.imageMenuDeleteButton{
	font-size: 2rem;
	background-color: transparent;
}

.imageMenuImage{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.imageMenuContainer{
	display: grid;
	grid-template-columns: 20vw 20vw 20vw 20vw;
	gap: 4vw;
	margin-left: 4vw;
}

.displayedImage{
	width: 90%;
	height: auto;
	bottom: 0px;

	text-align: center;
}

.imageDisplayBackButton{
	font-size: 3rem;
	background-color: transparent;
}

.imageDisplayBackButton:hover{
	background-color: rgba(128, 128, 128, 0.234);
}

.imageMenuDeleteButton:hover{
	background-color: rgba(128, 128, 128, 0.234);
}

#noImageText{
	font-size: 3rem;
	background-color: transparent;
	margin: 0 auto;
	border: 1px solid black
}

#uploadButton{
	font-size: 3rem;
	margin-top: 5vh;
	background-color: transparent;
}

#uploadButton:hover{
	background-color: rgba(128, 128, 128, 0.234);
}
